
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .app {
    text-align: center;
    margin-top: 20px;
    
  }
  

  